
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no">
    <title>Farrer Park Hospital</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
</head>

<body>


    <!--Top-Image-->
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="text-in">
                    <p class="text-in-image">FARRER PARK HOSPITAL</p>
                    <p>
                        We are a Singapore private hospital which helps to provide
                        clinical care in comfort with a focus on
                        fairness and value
                    </p>
                    <form method="get" action="/NewFarrerPark/Visitation1">
                        <div class="offset-sm-3">
                            <button class="btn btn-primary btn-lg" type="submit">Visitation</button>
                        </div>
                        
                    </form>
                </div>
                <div class="offset-sm-1 col-md-5 text-center">
                    <img src="~/images/top-image.png" class="img-fluid" />
                </div>
            </div>
        </div>


    </section>


    <!--Information Section-->
    <section>
        <div class="container text-center" id="about">
            <h2 class="title"><b>ABOUT US</b></h2>
        </div>
        <div class="container" id="info-container">
            <div class="row">
                <div class="card col-sm-4 p-sm-3" id="card-border">
                    <div class="card-body" id="card-info">
                        <div class="row">
                            <div class="offset-4 col">
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-file-earmark-medical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                                    <path fill-rule="evenodd" d="M7 5a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L8 7l.549.317a.5.5 0 1 1-.5.866L7.5 7.866V8.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L6 7l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V5.5A.5.5 0 0 1 7 5zm-2 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                </svg>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-text" id="info-text">In a rapidly evolving world where medical care and healthcare remain a top of mind priority, Farrer Park Hospital focuses on delivering acute and clinical care as well as managing chronic conditions in patients.</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card col-sm-4 p-sm-3" id="card-border">
                    <div class="card-body" id="card-info">
                        <div class="row">
                            <div class="offset-4 col">
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                                </svg>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-text" id="info-text">Supported by a team of clinicians, nurses and allied health professionals, FPH specialists provide treatments that are integrated with medical technology as well as services that attend to a patient’s entire journey.</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card col-sm-4 p-sm-3" id="card-border">
                    <div class="card-body" id="card-info">
                        <div class="row">
                            <div class="offset-4 col">
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-shield-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z" />
                                    <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-text" id="info-text">
                                    The vision and mission of FPH is focused to bring value to people through solutions for holistic healthcare, hospitality and wellness.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    @await Html.PartialAsync("CovidMsg")
</body>

